ul.sidebar-menu.tree li a i{
    font-size: 20px;
}


.input-group {
    
    gap: 10px;
}
li.btn-group.nav-item a i {
    font-size: 35px;
}

aside.main-sidebar section.sidebar ul.sidebar-menu.tree li.active a i {
    color: #fff;
}