ul.sidebar-menu.tree li a i{
    font-size: 20px;
}


.input-group {
    
    gap: 10px;
}
li.btn-group.nav-item a i {
    font-size: 35px;
}

aside.main-sidebar section.sidebar ul.sidebar-menu.tree li.active a i {
    color: #fff;
}

div#preview_img {
    margin-top: 20px;
}
div#preview_img {
    display: flex;
    gap: 20px;
}

.image_item {
    position: relative;
}
.image_item button {
     position: absolute;
 
    top: -11px;
    right: -15px;
}